In [1]:
import tensorflow as tf

c:\Users\ravin\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [4]:
from tensorflow import keras

In [5]:
from keras import layers

In [2]:
print(tf.__version__)

2.11.0

In [2]:
# Import Libraries

import pickle
import json
import pandas as pd
import numpy as np
import sklearn

In [3]:
# Load All Files

with open('model_pipe.pkl', 'rb') as file_1:
  pipe_rf_tuned = pickle.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_cols = json.load(file_2)

In [4]:
# show list num cols
list_num_cols

['lead_time', 'avg_price_per_room', 'no_of_special_requests', 'repeated_guest']

In [5]:
# Create New Data 

data_inf = {
'lead_time':100,
 'avg_price_per_room':90,
 'no_of_special_requests':2,
 'repeated_guest':2
}

data_inf = pd.DataFrame(data_inf, index=[0])
data_inf

   lead_time  avg_price_per_room  no_of_special_requests  repeated_guest
0        100                  90                       2               2

In [6]:
# Predict using Linear Regression

y_pred_inf = pipe_rf_tuned.predict(data_inf)

y_pred_inf

array([1], dtype=int64)

Berhasil mempredict kalau customer tidak cancel